<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/main.css">

    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.min.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <title>{{ pageTitle }}</title>
</head>
<body>
    {% block topBar %}
        {% include 'topBar.twig' %}
    {% endblock %}

    <div class="leftBar">
        {% block leftBar %}
            {% include 'menuLeft.twig' %}
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    {% block modals %}{% endblock %}

    {% block scripts %}
        <script src="../../assets/js/jquery.min.js"></script>
        <script src="../../assets/js/bootstrap.js"></script>
        <script src="../../assets/js/scripts.js"></script>
    {% endblock %}
</body>
</html>
