{% extends 'includes/layout.twig' %}

{% set pageTitle = 'Справочник классификаторов оборудования' %}
{% set activeMainMenuItem = 'vocabulary' %}

{% block content %}
    {% embed 'includes/filterBox.twig' %}
        {% set blockClass = 'filterBox' %}
        {% block leftSide %}
            <h1 class="{{ bem(blockClass, 'title') }}">{{ pageTitle }}</h1>
        {% endblock %}
        {% block rightSide %}
            {% include 'includes/searchInput.twig' with {parentClass: blockClass, placeholder: 'Глобальный поиск'} %}
            {% include 'includes/iconedText.twig' with {parentClass: blockClass, text: 'Добавить оборудование', icon: 'add', link: '#'} %}
        {% endblock %}
        {% block filtersBlock %}
            <div class="{{ bem(blockClass, 'leftSide') }}">
                {% include 'includes/searchInput.twig' with {parentClass: blockClass, placeholder: 'Поиск оборудования'} %}
            </div>
            <div class="{{ bem(blockClass, 'rightSide') }}">
                {% include 'includes/button.twig' with {parentClass: blockClass, text: 'Фильтровать', style: 'dark'} %}
                {% include 'includes/button.twig' with {parentClass: blockClass, text: 'Сбросить', style: 'light'} %}
            </div>
        {% endblock %}
    {% endembed %}

    {% set tableData = {
        types: ['vocabulary'],
        head: [
            [
                {id: 'index', text: '№', sortable: true},
                {id: 'name', text: 'Наименование'},
                {id: 'brands', text: 'Бренды'},
                {id: 'code', text: 'Код'},
                {id: 'more'}
            ]
        ],
        body: [
            {
                cells: [
                    {text: '1'},
                    {type: 'link', text: '60072390_CHOU Premium Base + Front Panel Option 2 + Decorative side panels / Checkout Premium Service'},
                    {type: 'link', text: 'PMI-Транспорт, PMI-В.Луки, PMI-NNovgorod, PMI-Sankt-Peterburg, PMI-Шатура'},
                    {text: '96676001930886'},
                    {type: 'link', textStyle: 'more more_h'}
                ]
            },
            {
                cells: [
                    {text: '2'},
                    {type: 'link', text: '60072390_CHOU Premium Base + Front Panel Option 2 + Decorative side panels / Checkout Premium Service'},
                    {type: 'link', text: 'PMI-Транспорт, PMI-В.Луки, PMI-NNovgorod, PMI-Sankt-Peterburg, PMI-Шатура'},
                    {text: '96676001930886'},
                    {type: 'link', textStyle: 'more more_h'}
                ]
            },
            {
                cells: [
                    {text: '3'},
                    {type: 'link', text: '60072390_CHOU Premium Base + Front Panel Option 2 + Decorative side panels / Checkout Premium Service'},
                    {type: 'link', text: 'PMI-Транспорт, PMI-В.Луки, PMI-NNovgorod, PMI-Sankt-Peterburg, PMI-Шатура'},
                    {text: '96676001930886'},
                    {type: 'link', textStyle: 'more more_h'}
                ]
            }
        ]
    } %}

    {% include 'includes/table.twig' %}
{% endblock %}
